<h2>Edit Client</h2>

<%= form_for(@client) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Client', class: 'button' %>
  </div>
<% end %>

<hr>

<%= form_for(@client) do |f| %>
  <div class="field">
    <%= f.file_field :profile_photo %>
  </div>

  <div class="actions">
    <%= f.submit  'Upload Photo', class: 'button' %>
  </div>
<% end %>


<hr>

<%= form_for(@client) do |f| %>
  <div class="field">
    <%= f.label :password, "Update Password" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Password', {class: 'button'}  %>
  </div>
<% end %>
