<% if current_user %>
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %><br>
    <% end %>
  <% end %>

  <h2>Add New Project</h2>
  <%= form_for @project do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :status %>
  <%= f.select :status, ['Proposed', 'Active', 'Completed', 'Canceled'] %>
  <%= f.label :deadline %>
  <%= f.date_select :deadline, {
    order: [:day, :month, :year],
    prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
    start_year: Date.today.year + 5,
    end_year: Date.today.year},
    {required: true} %>
  <%= f.label :price %>
  <%= f.text_field :price %>

    <%= f.submit 'Add Project', class: 'button' %>
  <% end %>
<% else %>
  <% flash.now[:alert] = "You need to log in first." %>
<% end %>
